body{
    background-color:black;
    height:100vh;
    width:100vw;
    background-image: url("background.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
}
header{
    background-color:white;
    display:flex;
    justify-content:center;
    width:100vw;
}
.search-container {
    position: relative;
    width: 300px;
    margin: 20px auto;
}

.search-input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.suggestions {
    position: absolute;
    width: 100%;
    border: 1px solid #ccc;
    border-top: none;
    background: white;
    max-height: 150px;
    overflow-y: auto;
    display: none;
}
.create{
    background-color:lightgreen;
    border:3px solid black;
    border-radius:5%;
    width:10rem;
    height:2rem;
    margin-top:5px;
}
.suggestions div {
    padding: 8px;
    cursor: pointer;
}

.suggestions div:hover {
    background: #f0f0f0;
}
#marque{
    width:100%;
    height:1.5rem;
    background-color:#FFFF;
    color:red;
    display:flex;
    justify-content:center;
}
.menubar{
    width:100vw;
    height:3rem;
    display:flex;
    justify-content: space-around;
    align-items:center;
    background-color: aqua;
    a{
        border:3px solid black;
        text-align: center;
        border-radius: 5%;
        color:#000;
        height:2rem;
        text-decoration: none;
        background-color:lightgreen;
    }
}
button:hover{
    background-color:lightgreen;
    color:#FFFF;
    cursor:pointer;
    height:2.5rem;
}
.hide{
    display:none;
}
.positionaldiv{
    width:100vw;
    display:flex;
    justify-content: center;
    padding-left:2rem;
}
.itineraries_form{
    background-color: #ccc;
    width:20rem;
    height:auto;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-bottom:2rem;
    align-items: center;
    button{
        width:max-content;
        height:2rem;
        background-color: lightgreen;
        color:#000;
    }
}
.warnings{
    color:red;
    background-color:white;
    width:max-content;
}